{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Acerca de</h1>
        <p>{{capitalizar 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse gravida ultricies gravida. Nam et
            vehicula risus. Etiam sagittis pharetra lorem. Proin in quam leo. Aenean ut erat eget eros mollis euismod
            at vitae velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
            Duis a molestie dolor, nec tempus nibh. Praesent vehicula congue pharetra. Etiam fermentum interdum nisl.
            Fusce viverra turpis volutpat nunc efficitur euismod. Morbi vitae fermentum elit, et imperdiet sapien.
            Morbi velit mauris, bibendum scelerisque eros id, efficitur ullamcorper sem. Praesent consequat, dolor quis
            pharetra cursus, lorem ante blandit libero, et varius nisl tellus sit amet libero. Etiam augue risus,
            bibendum sit amet molestie sed, ultricies fermentum lorem. Donec id neque dui. Aliquam quis augue sem.'}}</p>
    </div>
    <div class="col-4">
        <img src="assets/img/img.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}