{{> head }}

{{> navbar }}
<div class="jumbotron">
    <h1 class="display-4">Hola {{nombre}}</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum molestias sequi doloremque minus
        labore, eum, error expedita, earum voluptate quae eos aperiam culpa assumenda tenetur hic dolor dignissimos
        vero! Quasi?</p>
</div>

{{> footer }}